In [7]:
import pandas as pd

tt_df = pd.read_csv('./titanic_train.csv')
tt_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [8]:
tt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
tt_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
tt_df["Age"].fillna(tt_df["Age"].mean(), inplace=True)
tt_df["Fare"].fillna('N', inplace=True)
tt_df["Cabin"].fillna("N", inplace=True)
tt_df["Embarked"].fillna("S", inplace=True)

In [11]:

tt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
print('데이터 세트 Null 값 갯수 \n', tt_df.isnull().sum())

데이터 세트 Null 값 갯수
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [18]:
tt_test_df = pd.read_csv('./titanic_test.csv')

In [19]:
tt_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [20]:
tt_test_df["Age"].fillna(tt_test_df["Age"].mean(), inplace=True)
tt_test_df["Fare"].fillna('N', inplace=True)
tt_test_df["Cabin"].fillna("N", inplace=True)
tt_test_df["Embarked"].fillna("S", inplace=True)

In [21]:
tt_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    object
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 36.0+ KB

In [22]:
tt_test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch
count   418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344
std     120.810458    0.841838   12.634534    0.896760    0.981429
min     892.000000    1.000000    0.170000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000
50%    1100.500000    3.000000   30.272590    0.000000    0.000000
75%    1204.750000    3.000000   35.750000    1.000000    0.000000
max    1309.000000    3.000000   76.000000    8.000000    9.000000

In [23]:
print(f"성별의 값 분포는 {tt_df['Sex'].value_counts()}")

성별의 값 분포는 male      577
female    314
Name: Sex, dtype: int64

In [24]:
print(f"Cabin의 값 분포는 {tt_df['Cabin'].value_counts()}")

Cabin의 값 분포는 N              687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 148, dtype: int64

In [25]:
print(f"Embarked의 값 분포는 {tt_df['Embarked'].value_counts()}")

Embarked의 값 분포는 S    646
C    168
Q     77
Name: Embarked, dtype: int64

### 데이터 전처리 모듈화

In [26]:
from sklearn.preprocessing import LabelEncoder

# Null 처리 함수
def fillna(df):
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    df['Cabin'].fillna('N', inplace=True)
    df['Embarked'].fillna('N', inplace=True)
    df['Fare'].fillna(0, inplace=True)
    return df

#머신러닝 알고리즘에 불필요한 속성 제거
def drop_features(df):
    df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Fare'], axis=1, inplace=True)
    return df

# 레이블 인코딩 수행
def format_features(df):
    df['Cabin'] = df['Cabin'].str[:1]
    features = ['Cabin', 'Sex', 'Embarked']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df

# 앞에서 설정한 Data Preprocessing 함수 호출
def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [30]:
import pandas as pd

tt_df = pd.read_csv('./titanic_train.csv')
tt_test_df = pd.read_csv('./titanic_test.csv')

In [31]:
df_list = [tt_df , tt_test_df]
tt_df_1 = transform_features(tt_df)
tt_test_df_1 = transform_features(tt_test_df)

In [32]:
tt_df_1.head()

   Survived  Pclass  Sex   Age  Cabin  Embarked
0         0       3    1  22.0      7         3
1         1       1    0  38.0      2         0
2         1       3    0  26.0      7         3
3         1       1    0  35.0      2         3
4         0       3    1  35.0      7         3

In [33]:
tt_test_df_1.head()

   Pclass  Sex   Age  Cabin  Embarked
0       3    1  34.5      7         1
1       3    0  47.0      7         2
2       2    1  62.0      7         1
3       3    1  27.0      7         2
4       3    0  22.0      7         2

#### Features 와 label 분리

In [34]:
label = tt_df_1['Survived']
features = tt_df_1.drop(columns='Survived')

In [35]:
features

     Pclass  Sex        Age  Cabin  Embarked
0         3    1  22.000000      7         3
1         1    0  38.000000      2         0
2         3    0  26.000000      7         3
3         1    0  35.000000      2         3
4         3    1  35.000000      7         3
..      ...  ...        ...    ...       ...
886       2    1  27.000000      7         3
887       1    0  19.000000      1         3
888       3    0  29.699118      7         3
889       1    1  26.000000      2         0
890       3    1  32.000000      7         2

[891 rows x 5 columns]

In [36]:
label

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

#### datascaling

In [37]:
# StandardScaler를 이용한 스케일링
from sklearn.preprocessing import StandardScaler

# StandardScaler객체 생성
scaler = StandardScaler()
# StandardScaler로 데이터 셋 변환 , fit()과 transform()호출
titanic_train_scaled = scaler.fit_transform(features)

In [38]:
titanic_train_scaled

array([[ 0.82737724,  0.73769513, -0.5924806 ,  0.51129323,  0.56273365],
       [-1.56610693, -1.35557354,  0.63878901, -1.91449093, -2.00852627],
       [ 0.82737724, -1.35557354, -0.2846632 ,  0.51129323,  0.56273365],
       ...,
       [ 0.82737724, -1.35557354,  0.        ,  0.51129323,  0.56273365],
       [-1.56610693,  0.73769513, -0.2846632 , -1.91449093, -2.00852627],
       [ 0.82737724,  0.73769513,  0.17706291,  0.51129323, -0.29435299]])

In [39]:
df_train_scaled = pd.DataFrame(titanic_train_scaled , columns=features.columns)

In [40]:
df_train_scaled.describe()

             Pclass           Sex           Age         Cabin      Embarked
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean  -8.772133e-17 -1.156327e-16  2.232906e-16 -6.778466e-17  7.974666e-18
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -1.566107e+00 -1.355574e+00 -2.253155e+00 -2.884805e+00 -2.008526e+00
25%   -3.693648e-01 -1.355574e+00 -5.924806e-01  5.112932e-01 -2.943530e-01
50%    8.273772e-01  7.376951e-01  0.000000e+00  5.112932e-01  5.627337e-01
75%    8.273772e-01  7.376951e-01  4.079260e-01  5.112932e-01  5.627337e-01
max    8.273772e-01  7.376951e-01  3.870872e+00  9.964501e-01  5.627337e-01

#### DecistionTree를 활용한 예측

In [41]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=0)
clf.fit(df_train_scaled ,  label)

DecisionTreeClassifier(random_state=0)

In [42]:
titanic_test_scaled = scaler.fit_transform(tt_test_df_1)

results = clf.predict(titanic_test_scaled)

C:\Users\Wontae2\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [43]:
results

array([0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [44]:
len(results)

418

In [55]:
y_test = pd.read_csv('./titanic_gender_submission.csv')

In [56]:
y_test = y_test['Survived']

In [57]:
y_test

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [58]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test , results)

0.8110047846889952

In [59]:
418*0.8110047846889952

339.0

In [60]:
418-339

79

In [68]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 결정트리, Random Forest, 로지스틱 회귀를 위한 사이킷런  Classifier
dt_clf = DecisionTreeClassifier(random_state=11)
rf_clf = RandomForestClassifier(random_state=11)
lr_clf = LogisticRegression() 

# DecisionTreeClassifier 학습/예측/평가
dt_clf.fit(df_train_scaled, label)
dt_pred = dt_clf.predict(titanic_train_scaled)
print(accuracy_score(y_test, dt_pred))

C:\Users\Wontae2\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

ValueError: Found input variables with inconsistent numbers of samples: [418, 891]

In [70]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

dt_clf = DecisionTreeClassifier(random_state=15)
rf_clf = RandomForestClassifier(random_state=15)
lr_clf = LogisticRegression()

dt_clf.fit(titanic_train_scaled , label)
dt_pred = dt_clf.predict(titanic_test_scale)
print(accuracy_score(y_test, dt_pred))

rf_clf.fit(titanic_trian_scaled , label)
rf_pred = rf_clf.predict(titanic_test_scale)
print(accuracy_score(y_test,rf_pred))

lr_clf.fit(titanic_trian_scaled , label)
lr_pred = lr_clf.predict(titanic_test_scale)
print(accuracy_score(y_test,lr_pred))

NameError: name 'titanic_test_scale' is not defined

In [73]:
from sklearn.model_selection import GridSearchCV

param = {'max_depth':[2,3,5,10],
        'min_samples_split':[2,3,5],
        'min_samples_leaf':[1,5,8]}

grid_dclf = GridSearchCV(dt_clf,param_grid=param,scoring='accuracy',cv=5)
grid_dclf.fit(dt_train_scaled,y_train)

print('GridSearchCV 최적 하이퍼 파라미터 :',grid_dclf.best_params_)
print(f'GrdiSearchCV 최고 정확도: {grid_dclf.best_score_}')
best_dclf = grid_dclf.best_estimator_

### GridSearchCV의 최적 하이퍼 파라미터로 학습된 Estimator로 예측 및 평가 수행
dpred = best_dclf.predict(x_test_scaled)
accuracy = accuracy_score(y_test,dpred)
print(f'테스트 세트에서의 DecisionTreeClassifier 정확도 {accuracy}')

NameError: name 'dt_train_scaled' is not defined